header{
    background-color: rgb(199,199,205);
}
.header{
    padding: 1rem 3rem;
}
.list-none{
    list-style: none;
}
.text-green-500{
    color: green;
    font-weight: 700;
}
.font-bold{
    font: bold;
    font-size: 2rem;
}
.text-gray-400{
    color: gray;
    font-weight: 400;
}
.ml-4{
    margin-left: 4rem;
    font-weight: 500;
}
.text-black{
    color: black;
    font-weight: 700;
}