.text-4xl{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.text-green-400{
    color: green;
    font-weight: 400;
    font-size: 1.3rem;
}
.p-4{
    padding: 4px;
}
.mb-4{
    margin-bottom: 4px;
}
.text-red-700{
    color: red;
    font-weight: 700;
}
.m-20{
    margin: 10px 70px;
}
.container-1{
    border: 3px solid green;
    margin: 0 auto;
}
.p-25{
    font-size: 1.1rem;
    padding: 1rem;
}
.block{
    width: fit-content;
    padding: 1rem;
    font-size: 2rem;
    margin: 20px auto;
}